<div class="navbar">
  <input id="nav-toggle" type="checkbox">
  <ul class="nav-menu">
    <li><a href="/home">HOME</a></li>
    <li><a href="/registration">REGISTER</a></li>
    <li><a href="/studentlogin">STUDENT-LOGIN</a></li>
    <li><a href="/tpologin">TPO-LOGIN</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/about">ABOUT</a></li>
  </ul>
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</div>