<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
  <input id="nav-toggle" type="checkbox">
  <ul class="nav-menu">
  
    <li><a href="/addincomingcompany">ADD COMPANY</a></li>
    <li><a href="/searchstudent">SEARCH STUDENT</a></li>
    <li><a href="/viewappliedstudent">APPLIED STUDENT</a></li>
    <li><a href="/addplacedstudent">ADD PLACED STUDENT</a></li>
    <li><a href="/viewallstudentrecords">VIEW ALL</a></li>
    <li><a href="/home" title="logout" ><i class="fa fa-sign-out" style="font-size:26px" aria-hidden="true"></i></a></li>
  </ul>
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</div>